@charset "UTF-8";

/* || GENERAL STYLES */
html {
  /* 1rem = 10pxに設定する */
  font-size: 62.5%;
  /* リンク内スクロール */
  scroll-behavior: smooth;
}
body {
  background-color: #a5e4cd;
  color: #000;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
li {
  list-style: none;
}



.button a {
  display: block;
  border-radius: 24px;
  background-color: #e9654b;
  text-align: center;
  border: 3px solid #e9654b;
}
.icon {
  width: 32px;
  height: 32px;
  filter: invert(100%) sepia(0%) saturate(28%) hue-rotate(47deg)
    brightness(107%) contrast(106%);
}
.button-anime:hover .icon {
  filter: invert(60%) sepia(33%) saturate(5833%) hue-rotate(331deg)
    brightness(96%) contrast(90%);
}
.button-anime:hover {
  background-color: white;
  color: #e9654b;
  animation: bounce 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bounce {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* || SITEWIDE */
.ar-footer {
  display: none;
}
.ar-container {
  display: none;
}

.wrapper {
  max-width: calc(1084px + 32px + 32px);
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

a.anchor {
  display: block;
  padding-top: 300px;
  margin-top: -170px;
}
a.anchor-encho {
  padding-top: 400px;
}
.sp-br {
  display: none;
}

.line::before {
  content: ""; /*疑似要素の中身を指定*/
  position: absolute; /*絶対位置指定*/
  left: 0; /*横位置の指定*/
  top: 45%; /*縦位置の指定*/
  background: #1c6eb8; /*線の色指定*/
  width: 2px; /*線の幅指定*/
  height: 55%; /*線の高さ指定*/
}

.rotate {
  animation: rotate-z 4s infinite;
  -webkit-animation: rotate-z 4s infinite;
}
.rotate:hover {
  animation-play-state: paused;
}
@keyframes rotate-z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*  HEADER  */
header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-backimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.header-spmenu {
  display: none;
}

.menu__encho {
  position: absolute;
  height: auto;
  top: 18px;
  left: 10%;
  width: 10%;
}
.menu__nyuen {
  position: absolute;
  height: auto;
  top: 2px;
  left: 21%;
  width: 12%;
}
.menu__logo {
  margin: 0 auto;
  width: 27%;
  padding-top: 32px;
}
.menu__access {
  position: absolute;
  height: auto;
  top: 17px;
  left: 67%;
  width: 10%;
}
.menu__inq {
  position: absolute;
  height: auto;
  top: 3px;
  left: 79%;
  width: 12%;
}
.menu__encho-path {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.menu-1 {
  top: 0px;
  left: 0px;
  z-index: 10;
}
.menu-1:hover {
  fill: white;
  stroke: #e9654b;
  stroke-width: 3px;
}
.menu__encho-icon {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.menu__encho-icon-hovered {
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
}
.menu__nyuen-icon {
  width: 100%;
  transition: all 0.3s;
}
.menu__access-path {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.menu-4 {
  top: 0px;
  left: 0px;
  z-index: 10;
}
.menu-4:hover {
  fill: white;
  stroke: #00ada9;
  stroke-width: 3px;
}
.menu__access-icon {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.menu__access-icon-hovered {
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
}
.menu__inq-icon {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.activated {
  display: block;
}
.hovered {
  /* scale: 1.1; */
  transform: scale(1.1);
}

/* MAINVISUAL  */
.firstview-position {
  position: relative;
  margin: 0 auto;
  padding: 18.5% 5.5% 8%;
  max-width: 1366px;
  overflow: hidden;
}
.mainvisual {
  max-width: 1215px;
  height: auto;
  margin: 0 auto;
  /* -webkit-clip-path:url(#cpath1); Safari, iOS Safari 用 */
  clip-path: url(#cpath1);
  position: relative;
}
.mainvisual::before {
  content: "";
  display: block;
  padding-top: 72.3%;
}
.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: change-img-anim 9s infinite;
}
.slide-img1 {
  animation: change-img-anim-first 9s infinite;
  animation-delay: 0s;
}
.slide-img2 {
  animation-delay: 3s;
}
.slide-img3 {
  animation-delay: 6s;
}
@keyframes change-img-anim-first {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  36% {
    opacity: 1;
  }
  45% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
@keyframes change-img-anim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  36% {
    opacity: 1;
  }
  45% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
.firstview-message {
  font-size: 4.1vw;
  line-height: 1.45;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 66%;
  right: 2.5%;
  text-align: right;
  z-index: 10;
}
.firstview-vec {
  position: absolute;
  top: 55%;
  right: 2%;
  width: 26%;
}

/* SECTIONS  セクションの順番をレスポンシブに変えるための対応 */
.section-flex {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  clear: both;
}

/* 園長からの挨拶 */
#encho {
  margin-top: 6px;
  margin-bottom: 7px;
  padding-bottom: 11%;
}
.encho-content {
  position: relative;
  padding: 10% 0 0 6.5%;
  height: 755px;
}
.encho-title {
  position: absolute;
  top: 52px;
  left: 6.5%;
  z-index: 10;
}
.encho-vec {
  position: absolute;
  top: 0;
  left: 0;
  width: 238px;
}

.encho-absolute {
  position: absolute;
  top: 148px;
  left: 6.5%;
  z-index: 10;
}
.encho-sign {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 6.5%;
  bottom: 0;
}

.encho-flex {
  display: flex;
  align-items: end;
}
.encho-message_2 {
  margin-top: -5px;
}
.encho-message2 {
  line-height: 2.25rem;
}
.encho-message_4 {
  line-height: 1.4;
}
.encho-photobox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22%;
  float: right;
  clear: both;
}

/* 入園説明会 */
#nyuen {
  padding-bottom: 12%;
}
.nyuen-content {
  padding: 61px 7% 17px;
  margin-bottom: 4px;
  background-color: #1c6eb8;
  top: 0;
  left: 0;
  border-radius: 40px;
  color: white;
  position: relative;
}
.nyuen-title {
  position: absolute;
  top: 62px;
  left: 7%;
  z-index: 10;
}
.nyuen-desc_1 {
  position: absolute;
  top: 148px;
  left: 7%;
  right: 6%;
  z-index: 10;
}
.nyuen-vec {
  position: absolute;
  width: 227px;
  height: auto;
  top: -36px;
  left: 3px;
  z-index: 1;
}
.nyuen-wolf {
  position: absolute;
  width: 14%;
  top: -4px;
  left: 22px;
}
.nyuen-schedule {
  max-width: 796px;
  height: auto;
  margin: 165px auto 0;
}
.nyuen-time_flex {
  display: flex;
  margin-top: 0px;
}
.nyuen-time {
  display: inline-block;
}
.nyuen-time_1 {
  margin-right: 57px;
}
.nyuen-start {
  font-weight: bold;
}
.nyuen-start:last-child {
  margin-right: 4px;
}
.nyuen-button {
  margin: 38px auto 28px;
  font-size: 20px;
  line-height: 29px;
  width: 329px;
}
.icon-mail {
  margin-left: 0px;
  margin-right: 2px;
}
.entryform {
  margin-top: -4px;
  margin-left: 0px;
  padding: 5px 0;
}
.telephone {
  margin-top: 28px;
  margin-right: 0px;
  padding: 5px 0;
}

.nyuen-tree {
  position: absolute;
  bottom: 1px;
  left: 6%;
  width: 8%;
  transform-origin: bottom center; /* 回転の軸を設定 */
  animation: shake 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes yurayura {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: scaleY(1.1) rotateZ(5deg);
  }
  25% {
    transform: scaleY(0.9) rotateZ(-5deg);
  }
  50% {
    transform: scaleY(1.1) rotateZ(-5deg);
  }
  75% {
    transform: scaleY(0.9) rotateZ(5deg);
  }
}
@keyframes axis {
  0% {
    height: 100px;
  }
  100% {
    height: 150px;
  }
}
.nyuen-tree_1 {
  position: absolute;
  bottom: 1px;
  left: 15%;
  width: 8%;
  transform-origin: bottom center; /* 回転の軸を設定 */
  animation: shake 2s infinite ease-in-out; /* アニメーションを逆方向にも続ける */
}
.nyuen-bear {
  position: absolute;
  bottom: 1px;
  right: 31px;
  width: 11%;
  transform-origin: bottom center; /* 回転の軸を設定 */
  animation: yurayura 2s infinite alternate ease-in-out;
}
.nyuen-squirrel {
  display: none;
}

/* アクセス */
#access {
  margin-top: 3px;
  padding-bottom: 16%;
}
.access-content {
  padding: 2px 5% 46px;
  border: 10px solid #1c6eb8;
  border-radius: 40px;
  box-sizing: border-box;
  margin-bottom: 2px;
  position: relative;
}
.access-title {
  position: absolute;
  top: 6px;
  left: 5%;
  z-index: 10;
  color: white;
}
.access-vec {
  position: absolute;
  width: 250px;
  height: auto;
  top: -67px;
  left: -9px;
  z-index: 1;
  /* display: none; */
}

.access-flex {
  margin-top: 158px;
}
.access-grid {
  display: grid;
  grid-template-columns: 47fr 53fr;
  column-gap: 3%;
}
.access-grid_1 {
  /* width: 100%; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.access-grid_2 {
  /* width: 100%; */
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.access-grid_3 {
  /* width: 100%; */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 13px;
  padding-bottom: 24px;
}
.access-map {
  width: 100%;
  height: 75%;
  /* border: 2px solid #1C6EB8;
  border-radius: 16px; */
  margin-bottom: 25px;
}
.access-button {
  max-width: 329px;
  height: 51px;
  font-size: 20px;
  margin: -5px auto;
  padding: 9px 0;
}
.access-button a {
  padding: 9px 0;
}
.access-logo {
  width: 270px;
  height: 108px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 3px;
}
.access-desc {
  margin-left: 12px;
}
.access-station {
  margin-top: 30px;
  line-height: 1.7;
}
.access-caution {
  color: #e9654b;
  font-size: 2rem;
  margin: 22px 0 0 0px;
}
.access-parking {
  margin-top: 11px;
}

/* ANIMATION  */
.container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.squirrel {
  position: absolute;
  z-index: 50;
  width: 7%;
  right: -15%; /* 初期位置（画面外） */
  top: 50%;
}
.rabbit,
.fox {
  position: absolute;
  z-index: 50;
  width: 10%;
  right: -20%; /* 初期位置（画面外） */
  top: 50%;
}
.deer {
  position: absolute;
  z-index: 50;
  width: 15%;
  right: -30%; /* 初期位置（画面外） */
  top: 20%;
}

.march {
  animation: marchAnime3 50s linear infinite, yurayura 1s linear infinite;
}
.march2 {
  animation: marchAnime 50s linear infinite, yurayura 1s linear infinite;
  animation-delay: 5s;
}
.march3 {
  animation: marchAnime 50s linear infinite, yurayura 1s linear infinite;
  animation-delay: 10s;
}
.march4 {
  animation: marchAnime2 50s linear infinite, yurayura 1s linear infinite;
  animation-delay: 17s;
}
@keyframes marchAnime {
  0% {
    right: -15%; /* 初期位置（画面外） */
    top: 50%;
  }
  25% {
    right: 25%; /* X軸方向の移動（中央へ） */
    top: 30%; /* Y軸方向の移動（下方向へ） */
  }
  50% {
    right: 50%; /* X軸方向の移動（中央へ） */
    top: 20%; /* Y軸方向の移動（下方向へ） */
  }
  75% {
    right: 75%; /* X軸方向の移動（中央へ） */
    top: 30%; /* Y軸方向の移動（下方向へ） */
  }
  100% {
    right: 115%; /* 画面外への移動 */
    top: 50%;
  }
}
@keyframes marchAnime2 {
  0% {
    right: -20%; /* 初期位置（画面外） */
    top: 40%;
  }
  25% {
    right: 25%; /* X軸方向の移動（中央へ） */
    top: 20%; /* Y軸方向の移動（下方向へ） */
  }
  50% {
    right: 50%; /* X軸方向の移動（中央へ） */
    top: 10%; /* Y軸方向の移動（下方向へ） */
  }
  75% {
    right: 75%; /* X軸方向の移動（中央へ） */
    top: 20%; /* Y軸方向の移動（下方向へ） */
  }
  100% {
    right: 120%; /* 画面外への移動 */
    top: 40%;
  }
}
@keyframes marchAnime3 {
  0% {
    right: -10%; /* 初期位置（画面外） */
    top: 60%;
  }
  25% {
    right: 25%; /* X軸方向の移動（中央へ） */
    top: 40%; /* Y軸方向の移動（下方向へ） */
  }
  50% {
    right: 50%; /* X軸方向の移動（中央へ） */
    top: 30%; /* Y軸方向の移動（下方向へ） */
  }
  75% {
    right: 75%; /* X軸方向の移動（中央へ） */
    top: 40%; /* Y軸方向の移動（下方向へ） */
  }
  100% {
    right: 110%; /* 画面外への移動 */
    top: 60%;
  }
}

/* FOOTER  */
footer {
  position: relative;
}
.footer-logo {
  width: 183px;
  height: 72px;
}
.footer-desc {
  text-align: center;
  font-size: calc(1.6rem + ((1vw - 0.769rem) * 0.67));
  min-height: 0vw;
  margin: 0 auto;
  padding-bottom: 18px;
  color: white;
}
.footer-address {
  margin-top: 15px;
}
.footer-address_sp {
  display: none;
}
.footer-img {
  position: absolute;
  left: 0;
  bottom: calc((1366px - 100vw) * 0.1);
  z-index: -1;
  width: 100%;
}
.footer-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 70px;
  background-color: #1c6eb8;
}

/* || UTILITIES */
/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定 */
.fadeUpTrigger {
  opacity: 0;
}

/*-------------------------------------------
RESPONSIVE
Common
-------------------------------------------*/
/* Defaults  */
.site-title {
  line-height: 1px;
}
.section-title {
  font-size: calc(3.6rem + ((1vw - 0.769rem) * 2.0101));
  min-height: 0vw; /* Safari用バグフィックス */
  line-height: 1.3;
  font-weight: bold;
}
.c-text {
  font-size: calc(1.4rem + ((1vw - 0.769rem) * 0.335));
  min-height: 0vw;
}
.c-title_h3 {
  font-size: 3.2rem;
}
.c-title_h4 {
  font-size: calc(1.6rem + ((1vw - 0.769rem) * 0.67));
  min-height: 0vw;
}

.nyuen-desc {
  font-size: calc(1.6rem + ((1vw - 0.769rem) * 0.67));
  min-height: 0vw;
}

/* デバイス幅が1366px以上 */
@media screen and (min-width: 1366px) {
  .c-text {
    font-size: 1.6rem;
  }
  .section-title {
    font-size: 4.8rem;
  }
  .c-title_h3 {
    font-size: 3.2rem;
  }
  .c-title_h4 {
    font-size: 2rem;
  }
  .nyuen-desc {
    font-size: 2rem;
  }
  .footer-desc {
    font-size: 2rem;
  }
  .firstview-message {
    font-size: 5.6rem;
  }
  .footer-img {
    bottom: calc(0.14 * (1366px - 100vw));
  }
  .footer-box {
    display: none;
  }
}

/* デバイス幅が769px以下 */
@media screen and (max-width: 769px) {
  body {
    font-size: 1.4rem;
  }
  .c-text {
    font-size: 1.4rem;
  }
  .section-title {
    font-size: calc(1.6rem + ((1vw - 0.375rem) * 5.0761));
    min-height: 0vw;
  }
  .c-title_h3 {
    font-size: calc(1.8rem + ((1vw - 0.375rem) * 3.5533));
    min-height: 0vw;
  }
  .c-title_h4 {
    font-size: 1.6rem;
  }
  .nyuen-desc {
    font-size: 1.6rem;
  }
}

/* デバイス幅が375px以下 */
@media screen and (max-width: 375px) {
  .section-title {
    font-size: 1.6rem;
    top: 10px;
  }
  .c-title_h4 {
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 3.6364));
    min-height: 0vw;
  }
  .wrapper {
    padding: 0 11px;
  }
}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (max-width: 769px) {
  /* || GENERAL STYLES */

  /* HEADER  */
  .menu__encho {
    top: 4px;
    left: 7%;
    width: 13%;
  }
  .menu__nyuen {
    top: 0px;
    left: 20%;
    width: 15%;
  }
  .menu__logo {
    margin: 0 auto;
    width: 28%;
    padding-right: 0%;
    padding-top: 32px;
  }
  .menu__access {
    top: 17px;
    left: 67%;
    width: 11%;
  }
  .menu__inq {
    top: -7px;
    left: 78%;
    width: 16%;
  }

  /* MAINVISUAL  */
  .firstview-position {
    margin: 0 auto 2px;
    padding: 24% 5.5% 5%;
  }
  .firstview-message {
    font-size: 4.2vw;
    right: 4.9%;
    top: 69%;
  }
  .firstview-vec {
    top: 59%;
    right: 4%;
  }

  /* 園長からの挨拶 */
  #encho {
    margin-bottom: 2px;
    margin-top: 11px;
    padding-bottom: 12%;
  }
  a.anchor {
    padding-top: 200px;
  }
  a.anchor-encho {
    padding-top: 300px;
  }

  .encho-content {
    padding: 5% 0 0;
    max-height: 978px;
    height: calc(758px + (769px - 100vw) * 1);
  }
  .encho-title {
    left: 0;
  }
  .encho-absolute {
    top: 22vw;
    left: 0;
  }
  .encho-message_2 {
    margin-top: 228px;
    margin-top: 150px;
    margin-top: 0;
  }
  .encho-message2 {
    line-height: 1.45;
  }
  .encho-sign {
    left: 0;
  }
  .encho-vec {
    left: -3%;
    width: 34%;
  }
  .line::before {
    display: none;
  }

  /* 入園説明会 */

  #nyuen {
    padding-bottom: 13%;
  }
  .nyuen-title {
    top: 5%;
    left: 0;
  }
  .nyuen-desc_1 {
    top: 17%;
    left: 20px;
    right: 20px;
  }
  .nyuen-content {
    padding: 9% 20px 69px;
    margin-bottom: 0px;
    padding-bottom: calc(69px + (769px - 100vw) * 0.1);
  }
  .nyuen-schedule {
    margin: 153px auto 0;
    margin-top: calc(153px + (769px - 100vw) * 0.2);
  }
  .nyuen-time_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
  }
  .nyuen-time {
    margin-right: 8px;
  }
  .nyuen-desc_box {
    max-width: 555px;
    margin: 4px auto 0;
    text-align: center;
  }
  .nyuen-button {
    margin: 30px auto 28px;
    width: 100%;
  }
  .button-entry,
  .button-telephone {
    margin: 20px auto;
    max-width: 280px;
    height: 46px;
  }
  .nyuen-vec {
    top: -3%;
    left: -1%;
    width: 29%;
  }
  .nyuen-wolf {
    top: 0%;
    left: 3%;
    width: 18%;
  }
  .nyuen-tree {
    left: 5%;
    width: 11%;
  }
  .nyuen-tree_1 {
    width: 11%;
  }
  .nyuen-bear {
    width: 16%;
  }

  /* アクセス */
  .access-title {
    left: 1%;
  }
  .access-vec {
    top: -9vw;
    left: -5%;
    width: 31%;
  }
  .access-content {
    padding: 2px 2% 46px;
    margin-bottom: 7px;
    border: 7px solid #1c6eb8;
  }
  .access-flex {
    margin-top: 2px;
    padding-top: 23%;
    column-gap: 1%;
  }
  .access-grid_1 {
    padding-left: 10px;
  }
  .access-grid_3 {
    padding: 0 0px 0 17px;
  }
  .access-map {
    height: 240px;
    margin-bottom: 50px;
  }
  .access-logo {
    width: 63%;
    height: auto;
    margin-top: -6px;
    margin-bottom: 5px;
  }
  .access-adress {
    /* font-size: 1.6rem; */
    line-height: 1.9;
  }
  .access-station {
    margin-top: 15px;
    line-height: 2.2;
  }
  .access-caution {
    margin: 14px 0;
  }
  .access-button {
    max-width: 272px;
    font-size: calc(14px + ((1vw - 3.75px) * 1.5228));
    min-height: 0vw;
  }
  .access-button a {
    padding: 6px 0;
  }

  /* ANIMATION  */
  .container {
    height: 30vh;
  }
  /* FOOTER  */
  .footer-desc {
    font-size: calc(1.2rem + ((1vw - 0.375rem) * 1.0152));
    min-height: 0vw;
    padding-bottom: 2px;
  }
  .footer-address {
    margin-top: 0px;
  }
  .footer-logo {
    width: 24%;
    height: auto;
  }
  .footer-img {
    bottom: calc((769px - 100vw) * 0.05);
  }
  .footer-box {
    height: 30px;
  }
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 375px) {
  /* SP: SECTION ORDER  */
  #encho {
    order: 1;
  }

  /* SP: HEADER  */
  header {
    position: static;
  }
  .menu__encho-icon {
    display: none;
  }
  .menu__encho-path {
    display: none;
  }
  .menu__nyuen-icon {
    display: none;
  }
  .menu__logo {
    width: 47%;
    padding-top: 0px;
  }
  .menu__logo-img {
    margin-top: 13px;
    width: 95%;
    padding-left: 8px;
  }
  .menu__access-icon {
    display: none;
  }
  .menu__access-path {
    display: none;
  }
  .menu__inq-icon {
    display: none;
  }

  /* SP: MAINVISUAL  */
  .firstview-position {
    margin: 0 auto 26px;
    padding: 19% 5.5% 0;
  }
  .firstview-message {
    top: 71%;
  }
  .firstview-vec {
    top: 63%;
    width: 23%;
  }
  a.anchor {
    padding-top: 200px;
  }
  /* SP: 入園説明会 */
  #nyuen {
    padding-top: 6%;
    padding-bottom: 12%;
  }
  .nyuen-title {
    top: 1%;
  }
  .nyuen-content {
    padding: 61px 7px 112px;
    margin-bottom: 0px;
  }
  .nyuen-vec {
    width: 21%;
    top: -2%;
    left: 0%;
  }
  .nyuen-wolf {
    width: 14%;
    top: -1%;
    left: 1%;
  }
  .nyuen-desc_1 {
    top: 7%;
    left: 10px;
    right: 10px;
  }
  .nyuen-schedule {
    margin: 0px auto;
    padding-top: 33%;
  }
  .nyuen-schedule_fig {
    /* scale: 0.75; */
    transform: scale(0.75);
  }
  .nyuen-time_flex {
    margin-top: -20px;
  }
  .nyuen-desc_box {
    margin-top: -10px;
    text-align: left;
  }
  .nyuen-button {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    width: 100%;
  }
  .button-entry {
    margin: 15px auto;
    width: 75%;
    height: 32px;
    padding: 0;
  }
  .button-telephone {
    width: 75%;
    height: 32px;
    margin: 27px auto;
    padding: 0;
  }
  .entryform {
    margin-top: 0px;
    margin-left: 0px;
    line-height: 1.4;
  }
  .telephone {
    margin: 0;
    line-height: 1.4;
  }
  .icon {
    width: 24px;
    height: 24px;
  }

  .nyuen-tree {
    bottom: 1px;
    left: 36%;
    width: 14%;
  }
  .nyuen-tree_1 {
    bottom: 1px;
    left: 54%;
    width: 13%;
  }
  .nyuen-bear {
    bottom: 1px;
    right: 9%;
    width: 18%;
  }
  .nyuen-squirrel {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 12%;
    width: 19%;
    transform-origin: bottom center; /* 回転の軸を設定 */
    animation: yurayura 2s infinite alternate ease-in-out;
  }

  /* SP: アクセス */
  #access {
    padding-bottom: 0%;
  }
  .access-content {
    border: 2px solid #1c6eb8;
    padding-bottom: 42px;
    margin-bottom: 11px;
  }
  .access-grid {
    grid-template-columns: 1fr;
    padding-top: 2%;
    margin-top: 6px;
  }
  .access-grid_1 {
    /* width: 100%; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
  }
  .access-grid_2 {
    /* width: 100%; */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px 21px 4px;
  }
  .access-grid_3 {
    /* width: 100%; */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
  }
  .access-logo {
    margin: 0 auto;
  }
  .access-desc {
    margin-top: 0px;
  }
  .access-map {
    height: 203px;
    margin-bottom: 19px;
  }
  .access-button {
    max-width: 246px;
    height: 39px;
    line-height: 17px;
    font-size: 14px;
    margin: 0 auto;
    padding: 0px;
  }
  .access-station {
    margin-top: 0;
  }
  .access-caution {
    margin: 6px auto 6px;
    font-size: 1.6rem;
  }
  .access-parking {
    margin-top: 5px;
  }
  .access-title {
    top: -7px;
    left: 2%;
  }
  .access-vec {
    top: -34px;
    left: -1%;
    width: 27%;
  }

  /* SP：園長からの挨拶 */
  #encho {
    margin-top: 3px;
    margin-bottom: 0px;
    padding-bottom: 20%;
  }
  .encho-vec {
    width: 48px;
    left: 1%;
  }
  .encho-content {
    height: 943px;
    max-height: 1500px;
    height: calc(943px + (375px - 100vw) * 2.6);
  }
  .encho-absolute {
    top: 48px;
  }
  .encho-message_2 {
    margin-top: 37px;
    position: relative;
  }
  .encho-message_2::before {
    content: "";
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    width: 1px;
    height: 23px;
    margin: auto;
    background-color: #1c6eb8;
  }
  .encho-message_4 {
    margin-top: 61px;
    line-height: 1.45;
    position: relative;
  }
  .encho-message_4::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    width: 1px;
    height: 23px;
    margin: auto;
    background-color: #1c6eb8;
  }
  .encho-photobox {
    width: 29%;
  }
  .sp-inline {
    display: none;
  }
  .sp-br {
    display: block;
  }

  /* SP: ANIMATION  */
  .container {
    height: 25vh;
  }

  .footer-logo {
    width: 79px;
    height: 31px;
  }
  .footer-desc {
    font-size: 1.2rem;
  }
  .footer-address_pc {
    display: none;
  }
  .footer-address_sp {
    display: inline;
  }
  .footer-img {
    bottom: calc((375px - 100vw) * 0.3);
  }

  /* SP: MENU */

  .header-spmenu {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 10px;
    right: 30px;
  }

  /*==================================================
　5-2-4 MENUがCLOSEに
===================================*/

  /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
  .openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /*ボタン内側*/
  .openbtn span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }

  .openbtn span:nth-of-type(1) {
    top: 13px;
  }

  .openbtn span:nth-of-type(2) {
    top: 19px;
  }

  .openbtn span:nth-of-type(3) {
    top: 25px;
  }

  .openbtn span:nth-of-type(3)::after {
    content: "Menu"; /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(3)::after {
    content: "Close"; /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }

  /*========= ナビゲーションのためのCSS ===============*/

  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vw;
    background: #1c6eb8;
    /*動き*/
    transition: all 0.6s;
  }

  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    top: 0;
  }

  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
  }

  /*リストのレイアウト設定*/

  #g-nav li {
    list-style: none;
    text-align: center;
  }

  #g-nav li a {
    display: block;
  }

  .spmenu-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 88%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 20%;
  }
  .spmenu-box {
    /* width: 48%;
  height: 32%; */
    flex-basis: 48%;
    background-color: #a5e4cd;
    border-radius: 10%;
  }
  .spmenu-encho {
    width: 76%;
    padding: 2%;
    margin: auto;
  }
  .spmenu-nyuen {
    width: 71%;
    padding: 2%;
    margin: auto;
  }
  .spmenu-access {
    width: 69%;
    padding: 2%;
    margin: auto;
  }
  .spmenu-inq {
    width: 84%;
    padding: 2%;
    margin: auto;
  }
  .spmenu-box_b {
    margin-top: 3%;
  }
}

/* @media screen and (min-height: 877px) and (min-aspect-ratio: 2/1) { */
  @media screen and (min-width: 1570px) {
    .wrapper {
      margin: 0 auto 0 400px;
    }
header {
    width: 400px;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .header-backimg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header-backimg img {
    position: absolute;
    height: 100%;
    left: -8px;
  }
  .menu__encho {
    top: 18px;
    left: 20px;
    width: 50%;
  }
  .menu__nyuen {
    top: 20%;
    left: 20px;
    width: 60%;
  }
  .menu__logo {
    position: absolute;
    top: 40%;
    left: 20px;
    width: 60%;
  }
  .menu__access {
    top: 55%;
    left: 20px;
    width: 40%;
  }
  .menu__inq {
    top: 72%;
    left: 17px;
    width: 52%;
  }

  .firstview-position {
    padding-top: 50px;
    margin: 0 auto 0 250px;
  }
  .firstview-message {
    top: 56%;
  }
  .firstview-vec {
    top: 46%;
  }
  .footer-img {
    display: none;
  }
  .footer-desc {
    margin: 0 auto 40px 400px;
    color: #000;
  }
  .footer-logobox {
    background: #1c6eb8;
    width: 350px;
    margin: 0 auto;
    padding: 16px;
  }
  .container {
    display: none;
  }
  .ar-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 50vh;
    top: -16%;
    left: 0;
    overflow: hidden;
  }
  #access {
    padding-bottom: 8%;
  }
  a.anchor {
    padding-top: 140px;
  }
  a.anchor-encho {
    padding-top: 240px;
  }
}
/* @media screen and (max-height: 876px) and (min-aspect-ratio: 1/1) {
  header {
position: static;
  }
  .firstview-position {
    padding-top: 5%;
  }
} */
@media screen and (min-width: 1800px) {
  .wrapper {
    margin: 0 auto;
  }
  .firstview-position {
    margin: 0 auto;
  }
  .ar-footer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
  }
  .ar-footer-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
  }
  .ar-footer-img img {
    position: absolute;
    height: 100%;
    right: -8px;
    z-index: -1;
  }
  .ar-footer-desc {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: white;
  }
  .ar-footer-desc > img {
    position: absolute;
    top: 40%;
    right: 2%;
    width: 60%;
    height: auto;
  }
  .footer-address_ar {
    position: absolute;
    top: 50%;
    right: 5%;
  }
  footer {
    display: none;
  }
}